<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BYOCTF Challenge Builder</title>

    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/vapor/bootstrap.min.css" integrity="sha512-f3fDhRxPxRct3q1hRKC9qEOkqNtlrNCktLDRAOpGFuQLezKoBDUCXPJrEa2VwQilrUj5f7SPx6asfwfKNNwkvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <py-config>
        packages = ["toml"]
    </py-config>
    
    <py-script src="./static/challenge_builder.py"></py-script>

    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">SOTB2023 BYOCTF Challenge Builder</h1>
            <p class="lead">
                This is a simple tool to help you create the toml file for byoctf.
                <a href="/">Validate your challenge here!</a><br>
                Need help understanding what makes a good challenge? See <a href="https://github.com/ShyftXero/byoctf_discord#notes-or-guidance-for-developing-challenges">notes or guidance for developing challenges</a>
            </p>
        </div>
        <div id="inputDiv">
            <form onclick="return false">
                <p>
                    <h5>Author Discord ID</h5>
                    <small id="authorhelp" class="form-text text-muted">Be sure to include your discriminator (e.g. shyft#0760)</small>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Enter author discord id">
                    
                </p>
                <p>
                    <h5>Challenge Title</h5>
                    <small id="title_help" class="form-text text-muted">Make it catchy.</small>
                    <input type="text" class="form-control" name="challenge_title" id="challenge_title" placeholder="Challenge Title">
                </p>
                <h5>Challenge Description</h5>
                <small id="desc_help" class="form-text text-muted">The should provided everything a player needs; links to files or sites and enough description to get started. Remember, you can't edit your challenge once you post it.</small>
                <p>
                    
                    <textarea class='form-control' name="challenge_description" id="challenge_description"  rows="5" width="100%" placeholder="Challenge description here..."></textarea>
                    
                </p>
                <!-- tags -->
                <p>
                    <h5>Challenge Tags</h5>
                    <small id="taghelp" class="form-text text-muted">Comma separated list of single-word or hyphenated-word that represent the category. use singular form if applicable . e.g. "pentest, api, web"</small>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="Tags">
                    
                </p>
                <!-- dependencies -->
                <p>
                    <h5>Challenge Dependencies</h5>
                    <small id="depends_on_help" class="form-text text-muted">Comma separated list of UUIDs for any challenges which must be solved before this challenge is solvable. Leave blank if there are no dependencies</small>
                    <input type="text" class="form-control" name="depends_on" id="depends_on" placeholder="Depends on">
                    
                </p>

                <!-- flags -->
                <h5>Flags</h5>
                <small id="flag_help" class="form-text text-muted">The challenge value is the sum of the individual flag values.</small>
                <div id="flag_div" class="card">
                    <p></p>
                </div>

                <!-- hints -->
                <h5>Hints</h5>
                <small id="hint_help" class="form-text text-muted">Hints are ordered and purchased by cost; lowest hints first. A big nudge should be a big cost. a little nudge should be a little cost.</small>
                <div id="hint_div" class="card">
                    <p></p>
                </div>

                <P>
                    <button id='add_flag_btn' py-click="add_flag()" class="py-button">Add a flag</button>
                    <button id='add_hint_btn' py-click="add_hint()" class="py-button">Add a hint</button>
                    <button id='build_btn' py-click="build_challenge()" class="py-button">Build</button>
                </P>
                
            
            </form>
        </div>
        
        Output:
        <pre><code id="outputDiv" class="toml"></code></pre>

    </div>
    <py-script>
        add_flag()
        add_hint()
    </py-script>
</body>
</html>