<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BYOCTF Challenge Builder</title>

    <!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>  -->
   
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.3/core.css">
    <!-- This script tag bootstraps PyScript -->
    <script type="module" src="https://pyscript.net/releases/2024.1.3/core.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/vapor/bootstrap.min.css" integrity="sha512-f3fDhRxPxRct3q1hRKC9qEOkqNtlrNCktLDRAOpGFuQLezKoBDUCXPJrEa2VwQilrUj5f7SPx6asfwfKNNwkvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <py-config>
        packages = ["toml","requests","pyodide-http"]
    </py-config>
    
    <!-- mpy uses micropython rather than pyodide -->
    <!-- <script type="mpy" src="./static/challenge_builder.py"></script> -->
    <script type="py" src="./static/challenge_builder.py"></script>

    
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">BYOCTF Challenge Builder</h1>
            <p class="lead">
                This is a simple tool to help you create the toml file for byoctf.
                <a href="/validator">Validate and submit your challenge here!</a><br>
                Need help understanding what makes a good challenge? See <a href="https://github.com/ShyftXero/byoctf_discord#notes-or-guidance-for-developing-challenges">notes or guidance for developing challenges</a>
            </p>
        </div>
        <div id="inputDiv">
            <form onclick="return false">
                <p>
                    <h5>Author Discord ID</h5>
                    <small id="authorhelp" class="form-text text-muted">we don't use discriminators any more</small>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Enter author discord id">
                    
                </p>
                <p>
                    <h5>Challenge Title</h5>
                    <small id="title_help" class="form-text text-muted">Make it catchy.</small>
                    <input type="text" class="form-control" name="challenge_title" id="challenge_title" placeholder="Challenge Title">
                </p>
                <h5>Challenge Description</h5>
                <small id="desc_help" class="form-text text-muted">The should provided everything a player needs; links to files or sites and enough description to get started. Remember, you can't edit your challenge once you post it. You can use {%raw%}'{{PLAYERNAME}}' '{{TEAMNAME}}' AND '{{TEAMUUID}}'{%endraw%} in your description and it will be shown to players with the appropriate values for them and their team.
                </small>
                <p>
                    
                    <textarea class='form-control' name="challenge_description" id="challenge_description"  rows="5" width="100%" placeholder="Challenge description here..."></textarea>
                    
                </p>
                <!-- tags -->
                <p>
                    <h5>Challenge Tags</h5>
                    <small id="taghelp" class="form-text text-muted">Comma separated list of single-word or hyphenated-word that represent the category. use singular form if applicable . e.g. "pentest, api, web"</small>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="Tags">
                    
                </p>
                <!-- dependencies -->
                <p>
                    <h5>Challenge Prerequisites</h5>
                    <small id="depends_on_help" class="form-text text-muted">Comma separated list of UUIDs for any challenges which must be solved before this challenge is solvable. Leave blank if there are no pre-reqs</small>
                    <input type="text" class="form-control" name="depends_on" id="depends_on" placeholder="Depends on">
                    
                </p>

                <!-- flags -->
                <h5>Flags</h5>
                <small id="flag_help" class="form-text text-muted">The challenge value is the sum of the individual flag values.</small>
                <div id="flag_div" class="card">
                    <p></p>
                </div>

                <!-- hints -->
                <h5>Hints</h5>
                <small id="hint_help" class="form-text text-muted">Hints are ordered and purchased by cost; lowest hints first. A big nudge should be a big cost. a little nudge should be a little cost.</small>
                <div id="hint_div" class="card">
                    <p></p>
                </div>

                <p>
                    <button id='add_flag_btn'  py-click="add_flag" class="py-button">Add a flag</button>
                    <button id='add_hint_btn'  py-click="add_hint" class="py-button">Add a hint</button>
                    <button id='build_btn'  py-click="build_challenge" class="py-button">Build</button>
                    <button id='validate_btn'  py-click="validate_challenge" class="py-button">Validate</button>
                    <button id='download_btn'  py-click="download_challenge" class="py-button">Download Challenge File</button>
                    
                </p>            
            </form>
            <h2><a href="/validator">Submit your challenge here!</a></h2>
        </div>
        
        Validation Status :
        <div id="validateDiv" class="toml"></div>


        <h2>Challenge TOML</h2><button onclick="copy_text()">Copy TOML to Clipboard</button><br>
        <code id="tomlDiv" class="language-toml">challenge here</code>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-funky.min.css" integrity="sha512-KaCkQvJ0dQIhdJ0Am5LM3sgXA+Y0LWpbxkfKACZnlOqDvk54lZaWYk/sQiJGNRuSyFpe24jpjwJ4q+u3Rbez5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        

    </div>
    <!-- <py-script>
        #migrated to the __main__ of the challenge_builder.py  
        #add_flag()
        #add_hint()
    </py-script> -->
    <script>
    function copy_text() {
        // Get the text field
        targetDiv = document.getElementById("tomlDiv");
        tmp = document.createElement('textarea');
        tmp.value = targetDiv.innerHTML;

        targetDiv.appendChild(tmp);
        // Select the text field
        tmp.select();
        tmp.setSelectionRange(0, 99999); // For mobile devices
      
         // Copy the text inside the text field
        document.execCommand('copy');
        targetDiv.removeChild(tmp);
      
        // Alert the copied text
        Toastify({
            text: "Copied!",
            duration: 3000
            }).showToast();
        }
    </script>
</body>
</html>