@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

	color:crimson;
    background: white;
    position: relative;
}

@keyframes gradient {
    0% {background: rgba(255, 0, 0, 0.15);}
    14% {background: rgba(255, 165, 0, 0.15);}
    28% {background: rgba(255, 255, 0, 0.15);}
    42% {background: rgba(0, 128, 0, 0.15);}
    57% {background: rgba(0, 0, 255, 0.15);}
    71% {background: rgba(75, 0, 130, 0.15);}
    85% {background: rgba(238, 130, 238, 0.15);}
    100% {background: rgba(255, 0, 0, 0.15);}
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
	color:crimson;
    mix-blend-mode:exclusion;
    color: white;
    position: relative;
    z-index: 2;
} */
table{
	color:crimson;
	mix-blend-mode: exclusion;
}
h1 {
    padding: 0px;
	font-family: 'Libre Barcode 39 Text' !important;
}

h1 {
    font-size: 3em;
}



footer{
	padding: 3em;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
    z-index: 1;
    animation: gradient 5s ease infinite;
    opacity: .40;
}
