<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/glitch.css">
	

    <title>BYOCTF HUD</title>
        <script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script>

		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>


		<!--for select2 -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

		<script src="/static/script.js"></script>
</head>
<body>
        <div class='container' hx-get="/hud" hx-trigger="every 2m" hx-swap="outerHTML">
				<h1>BYOCTF PLAYER HUD</h1>
				 
				<div class="header_links">
					<div class="private_stuff">
						<h2><a href="/">Scoreboard</a></h2>
						<h2><a href="/validator">Challenge Validator</a></h2>
						<h2><a href="/hud/transactions">Team Transactions</a></h2>

						{% if is_admin %}
						<h3>
							<a href="/admin/net/transactions"> Admin Graph - Transactions</a><br>
							<a href="/admin/net/players"> Admin Graph - Players and Teams</a><br>
							<a href="/admin/net/challenges"> Admin Graph - Challenges</a><br>
						</h3>
						{% endif %}
					</div>

					<div class="public_stuff">
						<h2><a href="/challenges">All Challenges</a></h2>
						<h2><a href="/transactions">Public Transactions</a></h2>
						<div>
							<h2><a href="/tip">Send a Tip</a></h2>
							<form>
							<select name="recipient" id="recipient">
								<option value="__invalid_recipient__"></option>
								{% for username in users %}
									<option value="{{username}}">{{username}}</option>
								{% endfor %}
							</select>
							<input type="text" id="msg" name="msg" placeholder="nice message here">
							<input type="number" id="amount" name="amount" placeholder="how much to send here">
							<button hx-post="/send_tip" hx-confirm="Are you sure you want to send this tip?" hx-swap="innerHTML settle:3s"
							hx-target="#toast">Send tip</button>
							<br>
							<span id="toast"></span>
							</form>
							<script>
								$(document).ready(function() {
									$('#recipient').select2({ width: '25%' });
								});
							</script>
						</div>
					</div>
				</div>

				<div class='flag_submission'>
					<form>
						<input name="flag" placeholder="FLAG{here}"/>
						<button 
						  type="submit" 
						  hx-post="/sub"
						  hx-target="#result">
						  Submit Flag
						</button>
					</form>
					<div id='result'></div>
				</div>

				<div class="team_info card card-body">
					<h2>
						Team <code>{{teamname}}</code> 
						Total Points <code>{{total}}</code>
						
							(including <code>{{total_byoc_rewards}}</code> points for your BYOC challenges; see below)
							
						
					</h2>
					<table class="table sortable">
						<thead>
							<td>Player</td>
							<td>Points</td>
						</thead>
						<tbody>
							{% for tm in team_scores %}
								<tr><td>{{tm[0]}}</td><td>{{tm[1]}}</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                
                <div class="incomplete card">
					<h2>Incomplete Challenges:</h2>
					
					<div class="challenge_grid">
						{% for chall in unsolved_challs %}	
							<div class="card inner-card">
								<a href="/chall/{{chall.uuid}}" class="href">
									<h3>"{{ chall.title }}"</h3>
								</a>
								By <a href="/player/{{chall.author.id}}">{{chall.author.name}}</a>
								<br>
								Tags: {% for t in chall.tags %}{{t.name}} {% endfor %}
								<br>
								Rating {{"⭐" * chall.get_rating()}}
							</div>
							
						{% endfor %}
					</div>
		

				</div>

                <div class="purchased_hints card card-body">
					<h2>Purchased Hints:</h2>
					<table class="table sortable">
							<thead>
								<td>Challenge Title</td>
								<td>Hint</td>
								<td>Cost</td>
								<td>Hint Purchaser</td>
							</thead>
							<tbody>
								{% for hint in purchased_hints %}
								<tr><td><a href="/chall/{{hint[0]}}"> {{hint[1]}}</a></td><td>{{hint[2]}}</td><td>{{hint[3]}}</td><td>{{hint[4]}}</td></tr>
								{% endfor %}
							</tbody>
					</table>
				</div>
				
				<div class="solved card card-body">
					<h2>Solved Challenges:</h2>
					<h5>There may still be some flags in the challenge if it's showing as incomplete.</h5>
					<div class="challenge_grid">
							{% for chall in solved_challs %}	
								<div class="card">
									<a href="/chall/{{chall.uuid}}" class="href">
										<h3>"{{ chall.title }}"</h3>
									</a>
									By <a href="/player/{{chall.author.id}}">{{chall.author.name}}</a>
									<br>
									Tags: {% for t in chall.tags %}{{t.name}} {% endfor %}
									<br>
									Rating {{"⭐" * chall.get_rating()}}
								</div>
								
							{% endfor %}
						</div>
				</div>
				
				<div class="solved card card-body">
					<h2>BYOC Challenges:</h2>
					<table class="table sortable">
						<thead>
							<td>Challenge ID</td>
							<td>Title</td>
							<td>Number of Solves</td>
							<td>Points Earned From This Challenge</td>
						</thead>
						<tbody>
							{% for line in team_byoc_stats %}
							<tr>
								<td>{{line[0].id}}</td>
								<td><a href="/chall/{{line[0].uuid}}" class="href">"{{ line[0].title }}" </a></td>
								<td>{{line[1]}}</td>
								<td>{{line[2]}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                
        </div>
</body>
</html>
