<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title>SOTB HUD</title>
        <script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script>

		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

		<script src="/static/script.js"></script>

</head>
<body>
        <div class='container' hx-get="/hud" hx-trigger="every 2m" hx-swap="outerHTML">
                <h1>SOTB PLAYER HUD</h1> <h2><a href="/">Scoreboard</a></h2><h2 id="transactions_link"><a href="/hud/transactions">Team Transactions</a></h2>
                {% if is_admin %}
				<a href="/admin/net/transactions"> Admin Graph - Transactions</a>
				<a href="/admin/net/players"> Admin Graph - Players and Teams</a>
				<a href="/admin/net/challenges"> Admin Graph - Challenges</a>
				{% endif %}
				<div class="team_info card card-body">
					<h2>
						Team <code>{{teamname}}</code> 
						Total Points <code>{{total}}</code>
						<pre>
							<h5>(including <code>{{total_byoc_rewards}}</code> points for your BYOC challenges; see below)
							</h5>
						</pre>
					</h2>
					<table class="table sortable">
						<thead>
							<td>Player</td>
							<td>Points</td>
						</thead>
						<tbody>
							{% for tm in team_scores %}
								<tr><td>{{tm[0]}}</td><td>{{tm[1]}}</td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                <!-- <h1>User Challenges and Hints</h1> -->
                <div class="incomplete card card-body">
					<h2>Incomplete Challenges:</h2>
					<table class="table">
						{% for chall in unsolved_challs %}
							<tr class="card chall"><td><a href="/chall/{{chall.uuid}}" class="href">"{{ chall.title }}" </a></td></tr>
						{% endfor %}
					</table>
				</div>

                <div class="purchased_hints card card-body">
					<h2>Purchased Hints:</h2>
					<table class="table sortable">
							<thead>
								<td>Challenge Title</td>
								<td>Hint</td>
								<td>Cost</td>
								<td>Hint Purchaser</td>
							</thead>
							<tbody>
								{% for hint in purchased_hints %}
								<tr><td><a href="/chall/{{hint[0]}}"> {{hint[1]}}</a></td><td>{{hint[2]}}</td><td>{{hint[3]}}</td><td>{{hint[4]}}</td></tr>
								{% endfor %}
							</tbody>
					</table>
				</div>
				
				<div class="solved card card-body">
					<h2>Solved Challenges:</h2>
					<h5>There may still be some flags in the challenge if it's showing as incomplete.</h5>
					<table class="table">
							{% for chall in solved_challs %}
							<tr><td><a href="/chall/{{chall.uuid}}" class="href">"{{ chall.title }}" </a></td></tr>
							{% endfor %}
						</table>
				</div>
				
				<div class="solved card card-body">
					<h2>BYOC Challenges:</h2>
					<table class="table sortable">
						<thead>
							<td>Challenge ID</td>
							<td>Title</td>
							<td>Number of Solves</td>
							<td>Points Earned From This Challenge</td>
						</thead>
						<tbody>
							{% for line in team_byoc_stats %}
							<tr>
								<td>{{line[0].id}}</td>
								<td><a href="/chall/{{line[0].uuid}}" class="href">"{{ line[0].title }}" </a></td>
								<td>{{line[1]}}</td>
								<td>{{line[2]}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
                
        </div>
</body>
</html>
