<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title>SOTB HUD</title>
        <script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" integrity="sha384-NCwXci5f5ZqlDw+m7FwZSAwboa0svoPPylIW3Nf+GBDsyVum+yArYnaFLE9UDzLd" crossorigin="anonymous">
</head>
<body>
        <div class='main container' hx-get="/hud/{{api_key}}" hx-trigger="every 3s" hx-swap="outerHTML">
                <h1>SOTB User HUD</h1>
                <div class="team_info">
					<table class="main table">
							<thead><td>Team Member</td><td>Score</td></thead>
							{% for tm in team_scores %}
									<tr><td>{{tm[0]}}</td><td>{{tm[1]}}</td></tr>
							{% endfor %}
					</table>
					<h2>Total Points <code>{{total}}</code> (including <code>{{total_byoc_rewards}}</code> points for your BYOC challenges)</h2>
				</div>
                <!-- <h1>User Challenges and Hints</h1> -->
                <div class="incomplete">
					<h2>Incomplete Challenges:</h2>
					<ul>
							{% for chall in unsolved_challs %}
									<li>"{{ chall.title }}" - <a href="/chall/{{chall.uuid}}" class="href">{{chall.uuid}}</a></li>
							{% endfor %}
					</ul>
				</div>

                <div class="purchased_hints">
					<h2>Purchased Hints:</h2>
					<table class="main table">
							<thead><td>Challenge ID</td><td>Hint</td><td>Cost</td><td>Hint Purchaser</td></thead>
							{% for hint in purchased_hints %}
									<tr><td>{{hint[0]}}</td><td>{{hint[1]}}</td><td>{{hint[2]}}</td><td>{{hint[3]}}</td></tr>
							{% endfor %}
					</table>
				</div>
				
				<div class="solved">
					<h2>Solved Challenges:</h2>
					<h5>There may still be some flags in the challenge if it's showing as incomplete.</h5>
									<ul>
											{% for chall in solved_challs %}
													<li>"{{ chall.title }}" - <a href="/chall/{{chall.uuid}}" class="href">{{chall.uuid}}</a></li>
											{% endfor %}
									</ul>
				</div>

                
        </div>
		<div class="footer"></div>
</body>
</html>
