<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BYOCTF Scoreboard</title>
	<script src="https://unpkg.com/htmx.org@1.8.0"
		integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
		crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="/static/style.css">
		

</head>

<body>
	<div class="_marquee">
		<div class="glitch-wrapper">
			<marquee  direction="down" width="100%" height="150" behavior="alternate">
				<marquee behavior="alternate">
					<div class="glitch header" data-glitch="BYOCTF SCOREBOARD" >
						<a href="/hud">
							{% if custom_logo_url %}
									<img src="{{custom_logo_url}}" height="150" />
							{% endif %}
							BYOCTF SCOREBOARD
							{% if custom_logo_url %}
									<img src="{{custom_logo_url}}" height="150" />
							{% endif %}
						</a>
					</div>
				</marquee>
			</marquee>
		</div>
		
	</div>
	<div class="container teams_and_players" hx-get="/scores" hx-trigger="load, every 1m">
		
		scores go here
		
	</div>
	<div class="video-responsive">
		<iframe  src="https://gif.shellontheborder.com" frameborder="0" allowfullscreen></iframe>
	</div>
</body>



</html>