<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SOTB2023 Scoreboard</title>
	<script src="https://unpkg.com/htmx.org@1.8.0"
		integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
		crossorigin="anonymous"></script>





	<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
	<div class="w-100 p-3 container">
		<marquee behavior="scroll" direction="">
			<h1>SOTB2023 Scoreboard</h1>
		</marquee>
		<h2><a href="/hud">Player HUD</a></h2>
		<div hx-get="/scores" hx-trigger="every 5s"></div>
</body>

</html>