<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <title>BYOCTF HUD</title>
        <script src="https://unpkg.com/htmx.org@1.8.0"
        integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
        crossorigin="anonymous"></script>

		<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

		<script src="/static/script.js"></script>

</head>
<body>
        <div class='container' hx-get="/hud/transactions" hx-trigger="every 2m" hx-swap="outerHTML">
			<a href="/hud"><h1>BYOCTF PLAYER HUD</h1></a>
				
				<div class="header_links">
					<div class="private_stuff">
						<h2><a href="/">Scoreboard</a></h2>
						<h2><a href="/hud/transactions">Team Transactions</a></h2>

						{% if is_admin %}
						<h3>
							<a href="/admin/net/transactions"> Admin Graph - Transactions</a><br>
							<a href="/admin/net/players"> Admin Graph - Players and Teams</a><br>
							<a href="/admin/net/challenges"> Admin Graph - Challenges</a><br>
						</h3>
						{% endif %}
					</div>

					<div class="public_stuff">
						<h2><a href="/challenges">All Challenges</a></h2>
						<h2><a href="/transactions">Public Transactions</a></h2>
					</div>
				</div>
				
				<div class='flag_submission'>
					<form>
						<input name="flag" placeholder="FLAG{here}"/>
						<button 
						  type="submit" 
						  hx-post="/sub"
						  hx-target="#result">
						  Submit Flag
						</button>
					</form>
					<div id='result'></div>
				</div>

                <div class="purchased_hints card card-body">
					<h2>Transactions for team <code>{{teamname}}</code></h2>
					<table class="table sortable">
							<thead>
								<td>Transaction ID</td>
								<td>Sender</td>
								<td>Recipient</td>
								<td>Value</td>
								<td>Type</td>
								<td>Message</td>
								<td>Time</td>
								
							</thead>

							<tbody>
								{% for trans in transactions %}
								<tr>
									<td>{{trans.id}}</td>
									<td>{{trans.sender.name}}</td>
									<td>{{trans.recipient.name}}</td>
									<td>{{trans.value}}</td>
									<td>{{trans.type}}</td>
									<td>{{trans.message}}</td>
									<td>{{trans.time}}</td>									
								</tr>
								{% endfor %}
							</tbody>
					</table>
				</div>
				
				

                
        </div>
</body>
</html>
